// -------- Variables --------

// Colors

$color-primary: #2c3878;

$black: #000000;
$black-75: #141414;
$black-50: #333333;
$black-30: #3c3c3c;
$black-10: #9c9c9c;

$lightgray: #d9d9d9;

$white: #ffffff;

// Typography

$font-main: 'Poppins';

// Breakpoints

$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1200px;

// -------- Variables --------
